<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Felipe Kellermann - @felipek</string>
	<key>Name</key>
	<string>Oi Conta</string>
	<key>Requests</key>
	<array>
		<dict>
			<key>HTTPCookies</key>
			<array>
				<dict>
					<key>Domain</key>
					<string>.oi.com.br</string>
					<key>Name</key>
					<string>vgn-oiloja-cookie</string>
					<key>Path</key>
					<string>/</string>
					<key>Time</key>
					<integer>3600</integer>
					<key>Value</key>
					<string>21|RS|P</string>
				</dict>
			</array>
			<key>HTTPPostValues</key>
			<dict>
				<key>autenticacao</key>
				<string>login</string>
				<key>ddd</key>
				<string>${ddd}</string>
				<key>numero</key>
				<string>${linha}</string>
				<key>senha</key>
				<string>${senha}</string>
				<key>tipoCliente</key>
				<string>clienteoi</string>
			</dict>
			<key>Requests</key>
			<array>
				<dict>
					<key>Handlers</key>
					<array>
						<dict>
							<key>RE</key>
							<string>Total de dados.*&gt;(.*) kbytes</string>
							<key>Results</key>
							<array>
								<string>consumo</string>
							</array>
						</dict>
						<dict>
							<key>Results</key>
							<array>
								<dict>
									<key>Keys</key>
									<dict>
										<key>plano</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>1</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>extra</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>3</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>total</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>5</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>minutoscontrato</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>7</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>minutosuso</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>8</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>localcontrato</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>10</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>localuso</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>11</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>smscontrato</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>13</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>smsuso</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>14</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>mmscontrato</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>16</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>mmsuso</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>17</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>gprscontrato</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>19</integer>
								</dict>
								<dict>
									<key>Keys</key>
									<dict>
										<key>gprsuso</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>20</integer>
								</dict>
							</array>
							<key>XPath</key>
							<string>//table[@id=&apos;tbDados&apos;]/tr/td[@class=&apos;item&apos;]</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Obtendo Dados</string>
					<key>URL</key>
					<string>http://oimovel.oi.com.br/portal/site/OiMovel/menuitem.9a4313a7cf243b760d6b1033835d02a0</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Acessando Login</string>
			<key>URL</key>
			<string>http://oimovel.oi.com.br/portal/site/OiMovel/menuitem.9a4313a7cf243b760d6b1033835d02a0</string>
		</dict>
	</array>
	<key>Version</key>
	<string>1.0</string>
	<key>Sections</key>
	<array>
		<dict>
			<key>Data</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Plano Contratado</string>
					<key>Variable</key>
					<string>@plano</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Valor Extra</string>
					<key>Variable</key>
					<string>@extra</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Valor Total</string>
					<key>Variable</key>
					<string>@total</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Footer</key>
			<string>O consumo é medido em kbytes.</string>
			<key>Data</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Consumo de Dados</string>
					<key>Variable</key>
					<string>@consumo</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Minutos utilizados</string>
					<key>Variable</key>
					<string>@minutosuso</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Minutos contratados</string>
					<key>Variable</key>
					<string>@minutoscontrato</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Minutos locais utilizados</string>
					<key>Variable</key>
					<string>@localuso</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Minutos locais contratados</string>
					<key>Variable</key>
					<string>@localcontrato</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>SMSes utilizados</string>
					<key>Variable</key>
					<string>@smsuso</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>SMSes contratados</string>
					<key>Variable</key>
					<string>@smsuso</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>MMSes contratado</string>
					<key>Variable</key>
					<string>@mmscontrato</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>MMSes utilizado</string>
					<key>Variable</key>
					<string>@mmsuso</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
