<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Felipe Kellermann - @felipek</string>
	<key>Name</key>
	<string>Vivo</string>
	<key>Requests</key>
	<array>
		<dict>
			<key>Errors</key>
			<array>
				<dict>
					<key>Error</key>
					<string>Este é seu primeiro acesso. Para realizar o acesso, aceite os termos de uso e confirme a senha através do Meu Vivo. http://bit.ly/meuvivo</string>
					<key>RE</key>
					<string>frmPrimeiroAcesso</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>Para garantir a segurança de seus dados, sua senha foi bloqueada, pois foram realizadas três tentativas de acesso, sem sucesso. Por favor, solicite agora uma nova senha no portal Meu Vivo. http://bit.ly/meuvivo</string>
					<key>RE</key>
					<string>Por favor, solicite agora uma nova senha</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>Por favor, verifique suas credenciais e seu acesso através do navegador no Meu Vivo. http://bit.ly/meuvivo</string>
					<key>RE</key>
					<string>Antes de realizar uma nova tentativa de acesso</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>No momento não foi possível realizar o acesso. Por favor, tente mais tarde. Verifique se seus dados do &quot;Meu Vivo&quot; estão corretos. http://bit.ly/meuvivo</string>
					<key>RE</key>
					<string>Por favor, tente mais tarde.</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>No momento não foi possível realizar o acesso. Por favor, tente mais tarde.</string>
					<key>RE</key>
					<string>tente mais tarde</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>Não foi possível realizar o acesso. Verifique a LINHA digitada (DDD + telefone, ex: 5198581234) e SENHA ou entre em contato.</string>
					<key>RE</key>
					<string>Verifique a LINHA digitada ou</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>Você precisa confirmar uma nova senha através do portal Meu Vivo. Atualize a senha no cadastro do Consumo após confirmação. http://bit.ly/meuvivo</string>
					<key>RE</key>
					<string>Importante: Evite a criação de senhas com números</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>CAPTCHA</string>
					<key>RE</key>
					<string>alertCaptcha</string>
				</dict>
				<dict>
					<key>Error</key>
					<string>Sistema indisponível na Vivo / Meu Vivo. No momento não foi possível realizar o acesso. Por favor, tente novamente em alguns instantes.</string>
				</dict>
			</array>
			<key>Handlers</key>
			<array>
				<dict>
					<key>Error</key>
					<dict>
						<key>Error</key>
						<string>Sistema indisponível. No momento não foi possível realizar o acesso. Por favor, tente mais tarde.</string>
					</dict>
					<key>Results</key>
					<array>
						<dict>
							<key>Keys</key>
							<dict>
								<key>linha</key>
								<string></string>
							</dict>
							<key>Node</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Keys</key>
							<dict>
								<key>plano</key>
								<string></string>
							</dict>
							<key>Node</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>Keys</key>
							<dict>
								<key>protocolo</key>
								<string></string>
							</dict>
							<key>Node</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>Keys</key>
							<dict>
								<key>data</key>
								<string></string>
							</dict>
							<key>Node</key>
							<integer>4</integer>
						</dict>
					</array>
					<key>XPath</key>
					<string>//div[@class=&apos;boxDadosConteudo floatLeft&apos;]/*/dd</string>
				</dict>
				<dict>
					<key>Results</key>
					<array>
						<dict>
							<key>Keys</key>
							<dict>
								<key>pontos</key>
								<string></string>
							</dict>
							<key>Node</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>XPath</key>
					<string>//span[@class=&apos;txtLaranja txtGrande&apos;]/strong</string>
				</dict>
			</array>
			<key>HTTPHeaders</key>
			<dict>
				<key>User-Agent</key>
				<string>${UserAgent}</string>
			</dict>
			<key>HTTPPostValues</key>
			<dict>
				<key>ddd</key>
				<string>${ddd}</string>
				<key>linha</key>
				<string>${linha}</string>
				<key>login_1%%7BactionForm.captcha%%7D:</key>
				<string></string>
				<key>senha</key>
				<string>${senha%(.)%$1$1}</string>
				<key>senhaIni</key>
				<string>senha</string>
			</dict>
			<key>Requests</key>
			<array>
				<dict>
					<key>Handlers</key>
					<array>
						<dict>
							<key>RE</key>
							<string>trafegados no (.*): ([^ ]*)</string>
							<key>Results</key>
							<array>
								<string>label</string>
								<string>consumo</string>
							</array>
						</dict>
					</array>
					<key>HTTPHeaders</key>
					<dict>
						<key>User-Agent</key>
						<string>${UserAgent}</string>
					</dict>
					<key>Title</key>
					<string>Obtendo Tráfego de Dados</string>
					<key>URL</key>
					<string>${BaseURL}/vivo?_nfpb=true&amp;_pageLabel=pages_consultarTrafegoDados_page&amp;_nfls=false</string>
				</dict>
				<dict>
					<key>Handlers</key>
					<array>
						<dict>
							<key>Results</key>
							<array>
								<dict>
									<key>Keys</key>
									<dict>
										<key>saldo</key>
										<string></string>
									</dict>
									<key>Node</key>
									<integer>0</integer>
								</dict>
							</array>
							<key>XPath</key>
							<string>//td[@class=&apos;txtAzul volTd&apos;]</string>
						</dict>
					</array>
					<key>HTTPHeaders</key>
					<dict>
						<key>User-Agent</key>
						<string>${UserAgent}</string>
					</dict>
					<key>Title</key>
					<string>Obtendo Saldo Parcial</string>
					<key>URL</key>
					<string>${BaseURL}/vivo?_nfpb=true&amp;_pageLabel=pages_consultarSaldoParcial_page&amp;_nfls=false</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Obtendo Dados Básicos</string>
			<key>URL</key>
			<string>${BaseURL}/vivoLogin?_nfpb=true&amp;_windowLabel=login_1&amp;login_1_actionOverride=%2Fbr%2Fcom%2Fvivo%2Fvol%2Fportal%2Flogin%2FdoLogin</string>
		</dict>
	</array>
	<key>Sections</key>
	<array>
		<dict>
			<key>Data</key>
			<array>
				<dict>
					<key>Variable</key>
					<string>@linha</string>
				</dict>
				<dict>
					<key>Variable</key>
					<string>@plano</string>
				</dict>
				<dict>
					<key>Variable</key>
					<string>@protocolo</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Último Acesso</string>
					<key>Variable</key>
					<string>@data</string>
				</dict>
				<dict>
					<key>Default</key>
					<string>Não Contabilizado</string>
					<key>Variable</key>
					<string>@pontos</string>
				</dict>
				<dict>
					<key>Default</key>
					<string>Não Contabilizado</string>
					<key>Title</key>
					<string>Saldo Parcial Estimado</string>
					<key>Variable</key>
					<string>@saldo</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<dict>
					<key>Default</key>
					<string>Não Contabilizado</string>
					<key>Title</key>
					<string>Dados (em Mb)</string>
					<key>Variable</key>
					<string>@consumo</string>
				</dict>
			</array>
			<key>Footer</key>
			<string>Os dados apresentados são obtidos de forma segura com a operadora através do portal oficial &quot;Meu Vivo&quot;.</string>
		</dict>
	</array>
	<key>Variables</key>
	<dict>
		<key>BaseURL</key>
		<string>https://servicos.vivo.com.br/meuvivo/appmanager/portal</string>
		<key>UserAgent</key>
		<string>Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_6; en-us) AppleWebKit/533.19.4 (KHTML, like Gecko) Version/5.0.3 Safari/533.19.4</string>
	</dict>
	<key>Version</key>
	<string>1.1</string>
</dict>
</plist>
